<html>
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <title>All Restaurants in The Cosmos</title>
</head>
<body>
    <div class="container">
        <!-- list restys with CUISINE TYPE!!! -->
        <h1>Here's every freakin' restaurant I know of:</h1>
        {% for resty in restaurants %}
            <ul>
                <li>{{ resty.getName }}
                    <ul>
                        <li> ({{ resty.getPhone }}) </li>
                        <li> {{ resty.getCuisine }} </li>
                    </ul>
            </ul>
        {% endfor %}
    </div>
</body>
</html>
