<html>
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <title>Best Restaurants in Town</title>
</head>
<body>
    <div class="container">
        <h1>Wow. Restaurants. Superb.</h1>

        <form action="/cuisines" method="post">
            <div class="form-group">
                <label for="new_cuisine">Enter a new cuisine</label>
                <input type="text" name="new_cuisine" id="new_cuisine" class="form-control">
            </div>
            <button type="submit" class="btn btn-warning">Add Cuisine</button>
        </form>

        {% if cuisines is not empty %}
            <p>What kinda food you want?</p>
            <ul>
                {% for food in cuisines %}
                    <li><a href="/cuisines/{{ food.getId }}">{{ food.getName }}</a></li>
                {% endfor %}
            </ul>
            <form action="/delete_all" method="post">
                <button type="submit" class="btn btn-danger">INCINERATE</button>
            </form>
            <p><a href="/show_all_restaurants">View all restaurants</a></p>
        {% else %}
            <p> Theres totes nothing to eat in this town.</p>
        {% endif %}

    </div>
</body>
</html>
