<html>
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <title>{{ restaurant.getName }}</title>
</head>
<body>
    <div class="container">
        <h1>{{ restaurant.getName }}'s personal page of facts and fairies</h1>
        <p>
            Phone: {{ restaurant.getPhone }}
        </p>
        <p>
            What they serve: {{ restaurant.getCuisine }} food
        </p>
    </div>
</body>
</html>
